//.circle {
//  fill: rgba(255, 255, 255, 0.2);
//}
//
//.circle:hover {
//  stroke: white;
//  stroke-width: 0.5px;
//}

.d3-tip {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  line-height: 1;
  padding: 7px;
  background: black;
  color: lightgray;
  border-radius: 20px;
}
