.catalog-card {
  margin: 20px;
  width: 280px;
}

.catalog-field {
  max-width: 1200px;
  margin:auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}

.card-href {
  text-decoration: none;

}
